.body {
    height: 100% !important;
    margin: 0 !important;
}

main {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh !important; /* За вычетом высоты header и footer */
}
.main-container-edit-profile {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
h2 {
    font-size: 16px !important;
    font-family: Gugi, sans-serif !important;
}

p {
    font-size: 15px !important;
    font-family: Gugi, sans-serif !important;
}

.head-edit-profile {
    background-color: #252525 !important;
    color: #FFFFFF !important;
    height: 40px !important;
    width: 820px !important;
    padding-left: 10px !important;
    padding-top: 7px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important; /* Центрирование текста по вертикали */
}

.avatar-container-edit-profile {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
}

img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 5px !important;
    border: 1px solid #dbdbdb !important;
    cursor: pointer !important;
}

.plus-icon-edit-profile {
    position: absolute !important;
    top: 0px !important;
    left: 0 !important;
    transform: translate(0, 0) !important; /* Выравнивание по центру */
    width: 100px !important;
    height: 100px !important;
    background: rgba(0, 0, 0, 0.25) !important;
    color: white !important;
    font-size: 36px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 5px !important;
    opacity: 0 !important;
    transition: opacity 0.3s ease !important;
    cursor: pointer !important;
}

.avatar-edit-profile:hover .plus-icon-edit-profile {
    opacity: 1 !important;
}

.avatar-edit-profile input[type="file"] {
    display: none !important;
}

form {
    background-color: #FFFFFF !important;
    width: 820px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 50px !important;
    padding: 50px 80px !important;
}

.form-control-edit-profile {
    background: #f8f8f8 !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 0 !important;
    width: 350px !important;
    height: 40px !important;
    padding-left: 10px !important;
}

.form-control-edit-profile::placeholder {
    color: #7b7b7b !important;
}

.btn-custom-edit-profile {
    color: #ffffff !important;
    background-color: #252525 !important;
    border: none !important;
    border-radius: 2px !important;
    width: 175px !important;
    height: 35px !important;
}

label {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 20px !important;
}

.alert-warning-edit-profile {
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
    font-family: Gugi, sans-serif !important;
    text-align: center !important;
    max-width: 500px !important;
    margin: 0 auto !important;
}

.centered-text-btn-edit-profile {
    color: #FFFFFF !important;
    background-color: #252525 !important;
    border: 1px solid #252525 !important;
    border-radius: 2px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
    display: flex !important;
    align-items: center !important; /* Центрирование по вертикали */
    justify-content: center !important; /* Центрирование по горизонтали */
    text-decoration: none !important;
}

.profile-container-edit-profile {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 660px !important;
}

.text-info-fields-edit-profile {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
}
