.container-edit-event {
    display: flex !important;
    justify-content: center !important; 
    padding-left: 105px !important; 
    padding-right: 420px !important
  }
  .main-content-edit-event {
    width: 730px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background-color: #EDEDED !important;
  }
  h2 {
    font-size: 16px !important;
    font-family: Gugi, sans-serif !important;
    padding-left: 0 !important;
  }
  .head-edit-event {
    background-color: #252525 !important;
    color: #FFFFFF !important;
    height: 40px !important;
    width: 1027px !important;
    padding-left: 10px !important;
    padding-top: 7px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  .form-edit-event{
    background-color: #FFFFFF !important;
    width: 1027px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 30px !important;
    padding: 50px 80px !important;
  }
  .form-control-edit-event {
    background: #f8f8f8 !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 0 !important;
    width: 835px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-left: 10px !important;
  }
  .form-control-edit-event::placeholder {
    color: #7b7b7b !important;
  }
  .btn-custom-edit-event {
    color: #ffffff !important;
    background-color: #252525 !important;
    border: none !important;
    border-radius: 2px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
  }
  .radio-group-edit-event {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
  }
  .radio-group-edit-event input[type="radio"] {
    margin-right: 10px !important;
  }
  legend {
    font-size: 16px !important;
  }
  .label-edit-event {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: left !important;
    align-items: flex-start !important;
    gap: 0 !important;
  }
  .radio-edit-event {
    background: #f8f8f8 !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 5px !important;
    width: auto !important;
    padding: 5px 10px !important;
    gap: 0 !important;
  }
  .centered-text-btn-edit-event {
    color: #FFFFFF !important;
    background-color: #252525 !important;
    border: 1px solid #252525 !important;
    border-radius: 2px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
  }
  .input-edit-event {
    display: flex !important;
    flex-direction: column !important;
    justify-content: left !important;
    gap: 15px !important;
  }
  .description-edit-event {
    height: 185px !important;
  }
  .datetime-edit-event {
    width: 220px !important;
  }
  