.body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-events {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
}

.main-content-events {
    width: 730px !important;
    padding: 60px 35px !important;
    background-color: #EDEDED;
}

.banner-events {
    text-align: center;
    background-color: #EDEDED;
    height: auto !important;
    width: 700px !important;
    padding-bottom: 15px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
    border-radius: 0% !important;
}

.section-events {
    background: #fff;
    height: auto;
    width: 700px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

p {
    font-size: 14px;
    padding-left: 15px;
    font-family: Gugi, sans-serif !important;
}

h2 {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Gugi, sans-serif !important;
}

h1 {
    font-size: 16px;
    font-family: Gugi, sans-serif !important;
}

.head-events {
    background-color: #252525;
    color: #FFFFFF;
    height: 45px !important; width: 700px !important;
    padding: 15px 65px 15px 30px !important;
    display: flex !important;
    flex-direction: row !important; 
    justify-content: space-between !important;
    align-items: center !important;
}

.date-events {
    color: rgb(37, 37, 37, 0.25);
}

.type-events {
    text-align: center !important;
    margin-left: auto !important;
    width: 150px !important;
    padding-right: 15px !important;
}

.event-events {
    border: 1px solid #F3F3F3;
    background-color: #FFFFFF;
    stroke: #F3F3F3;
    height: 45px !important; width: 700px !important;
    padding-top: 11px !important;
    padding-bottom: 15px !important;
    display: flex !important;
    flex-direction: row !important;
}

.centered-text-btn-events {
    color: #FFFFFF;
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 2px;
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none;
}

.sidebar-section-events {
    padding-top: 15px !important;
    height: 205px !important;
    width: 314px !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 10px !important; 
}

.sidebar-head-events {
    background-color: #252525;
    color: #FFFFFF;
    height: 40px !important;
    width: 314px !important;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.odd-events {
    border: 1px solid #F3F3F3;
    background-color: #FFFFFF;
    stroke: #F3F3F3;
    height: 45px !important; width: 314px !important;
    padding-top: 11px !important;
    padding-bottom: 15px !important;
    display: flex !important;
    flex-direction: row !important;
}

.even-events {
    border: 1px solid #F3F3F3;
    background-color: #F8F8F8;
    stroke: #F3F3F3;
    height: 45px !important; width: 314px !important;
    padding-top: 11px !important;
    padding-bottom: 15px !important;
    display: flex !important;
    flex-direction: row !important;
}

.sidebar-svg-events {
    margin-left: 15px !important;
}

.sidebar-p-events {
    width: 254px !important;
    height: 25px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.sidebar-events {
    width: 314px !important;
    margin-left: 30px;
    padding-top: 0;
    background-color: #EDEDED;
}

.type-filter-events {
    width: 157px !important;
    height: 40px !important;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
}

.filter-section-events {
    width: 314px !important;
    height: auto !important;
    margin-bottom: 20px !important;
    margin-top: 90px !important; 
}

.filter-container-events {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 0 !important;
}

.row-events {
    display: flex !important;
    flex: 1 1 50% !important; 
    justify-content: center !important; 
    align-items: center !important; 
}

.type-filter-events {
    height: 40px !important;
    background-color: #F8F8F8;
    border: 1px solid #F3F3F3;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: 'Gugi', sans-serif;
    font-size: 14px !important;
    color: #252525;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
    margin: 0 !important;

    flex: 1 1 50% !important; 
    text-align: center !important; 
}

.type-filter-events.active-events {
    background-color: #252525;
    color: #FFFFFF;
    border: 1px solid #252525;
}

.black-events {
    text-decoration: none;
    color: #252525;
}

.add-btn-events {
    width: 730px !important;
    padding-top: 15px !important;
    display: flex !important;
    justify-content: center !important;
}
