.container {
    display: flex; flex-direction: column;
}
.main-content {
    width: 730px;
    padding: 60px 35px;
    background-color: #EDEDED;
}
h2 { font-size: 16px; font-family: Gugi,sans-serif !important; }
.head {
    background-color: #252525; color: #FFFFFF;
    height: 40px; width: 1027px;
    padding-left: 60px;
    display: flex; flex-direction: row;
    align-items: center; /* Центрирование текста по вертикали */
}
.section { background: #fff; height: auto; width: 1027px;
    display: flex; flex-direction: column; }
.employee {
    height: 120px; width: 1027px;
    display: flex; flex-direction: row; justify-content: space-between;
    padding-left: 20px; padding-right:20px;
    border: 1px solid #F3F3F3;
}
.employee-info {
    display: flex; flex-direction: row;
    align-items: center;
}
.icons {
    display: flex; flex-direction: row;
    align-items: center;
    width: 90px;
    justify-content: start;
}
.avatar {
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    width: auto;
    height: 100px;
}
p { font-size: 15px; font-family: Gugi,sans-serif !important; }
.username { padding-left: 50px; width: 200px;
    position: relative; top: 8px;
}
.position { padding-left: 50px; width: 600px;
    position: relative; top: 8px;
}
.delete-icon {
    cursor: pointer;
}
.delete-icon:hover {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}
.employee-container {
    text-decoration: none; color: #252525; 
    display: flex; align-items: center; justify-content: center; top: -5px;
}