.body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
.main-content-event-details {
    width: auto;
    background-color: #EDEDED;
}
h2 { font-size: 16px; font-family: Gugi,sans-serif !important; }
p { font-size: 14px; font-family: Gugi,sans-serif !important; }
.head-event-details {
    background-color: #F8F8F8; color: #252525; border: 1px solid #F3F3F3;
    height: 50px; width: 1027px;
    padding-left: 10px;
    display: flex; flex-direction: row;
    align-items: center; /* Центрирование текста по вертикали */
}
.section-event-details { background: #fff; height: auto; width: 1027px;
    display: flex; flex-direction: column; }
.type-event-details {
    background-color: #FFFFFF; color: #252525; border: 1px solid #F3F3F3;
    height: 40px; width: 1027px;
    display: flex; flex-direction: row;
    align-items: center; /* Центрирование текста по вертикали */
    padding-left: 10px; padding-right: 10px;
}
.date-event-details { color: rgb(37, 37, 37, 0.25); }
.event-info-event-details {
    display: flex; flex-direction: row; justify-content: space-between; width: 1007px;
}
.description-event-details {
    padding-right: 10px;; padding-left: 10px;
}
.centered-text-btn-event-details {
    color: #FFFFFF;
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 2px;
    width: 170px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    text-decoration: none;
}
.action-event-details {
    padding-top: 15px; display: flex; flex-direction: row; justify-content: space-between; width: 1027px;
}
.icons-event-details {
    width: fit-content; display: flex; flex-direction: row; gap: 30px; align-items: center;
}
.edit-icon-event-details, .delete-icon-event-details, .users-icon-event-details, .pdf-icon-event-details {
    cursor: pointer;
}
.edit-icon-event-details:hover, .delete-icon-event-details:hover, .users-icon-event-details:hover, .pdf-icon-event-details:hover {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}
.top5-event-details {
    position: relative; top: 5px;
}
