.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.container-sign-in {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    height: 335px !important; 
    width: 330px !important; 
}

.container-sign-in h2 {
    color: #252525;
}

.form-control-sign-in {
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 0 !important;
    width: 250px !important; 
    height: 40px;
    padding-left: 10px !important;
}

.form-control-sign-in::placeholder {
    color: #7b7b7b;
}

.btn-custom-sign-in {
    color: #ffffff;
    background-color: #252525;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 35px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sign-up-link-sign-in {
    color: #252525;
    text-decoration: none;
}

.sign-up-link-sign-in:hover {
    text-decoration: underline;
}

h2 {
    font-size: 18px;
}

.alert-warning-sign-in {
    padding-left: 30px;
    padding-right: 30px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-family: Gugi, sans-serif !important;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.btn-custom-sign-in {
    color: #ffffff;
    background-color: #252525;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-3-sign-in {
    margin-bottom: -25px !important; 
}

.form-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.link-sign-in {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
